.dropdown-select__control {
    border: none !important
}

.dropdown-select__indicator-separator {
    display: none;
}

.dropdown-select__indicator {
    background-image: url('../../assets/Vector.png');
    background-repeat: no-repeat;
    background-position: center;
}

.dropdown-select__indicator svg {
    display: none
}

.dropdown-select__placeholder {
    color: red !important;
}

.dropdown-select__menu {}


.select_icons {
    padding-right: 10px;
    width: 27px;
    height: 28px;
}

.select_label {
    font-family: 'Circular std book';
    font-size: 23px;
    font-weight: 500;
    line-height: 29px;
    color: rgba(9, 9, 9, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;

    /* transform: rotate(-90deg); */
}

.select_location {
    flex-basis: 25%;
    display: flex;
    padding: 0 30px;
}


.select_location:not(:last-child) {
    border-right: 2px solid #E0DBF1;

}