.overviewCard {
    width: 32%;
    min-width: 15rem;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.cardIcon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
    text-align: center;
    display: grid;
    place-items: center;
    color: #fff;
    font-size: 20px;
    background-color: #DBA700 !important;
}

.yellow {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
    text-align: center;
    display: grid;
    place-items: center;
    color: #fff;
    font-size: 20px;
    background-color: #DBA700 !important;
}

.green {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
    text-align: center;
    display: grid;
    place-items: center;
    color: #fff;
    font-size: 20px;
    background-color: #3CE999 !important;
}

.red {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
    text-align: center;
    display: grid;
    place-items: center;
    color: #fff;
    font-size: 20px;
    background-color: #E71D36 !important;
}

.cardDetails h1 {
    font-family: var(--CircularStd);
    font-style: normal;
    font-weight: 500;
    font-size: 45.4965px;
    line-height: 58px;
    color: #06062A;

}

.cardDetails p {
    font-family: var(--CircularStd);
    font-style: normal;
    font-weight: 450;
    font-size: 20px;
    line-height: 25px;
    color: #989898;

}