.main {
    width: 100%;
}

.upperDiv {
    max-width: 100%;
    /* height: 128px; */
    background-color: #ebe5ff;
    margin-bottom: 50px;
}

.innerContainer {
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.sidebar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
    flex-basis: 30%;
    margin-right: 50px;
}

.activeSidebar {
    /* width: 404px; */
    /* height: 79px; */
    border: 1px solid #888;
    /* margin-bottom: 20px; */
    /* margin-top: 40px; */
    padding: 30px 0;
    font-size: 18px;
    color: #262626;
    font-family: var(--CircularStd);
}

.activeSidebar:disabled {
    background-color: #ebe5ff;
    color: #262626;
    cursor: not-allowed;
}

.activeSidebar :active {
    background-color: #7453EE;
    box-shadow: #888;


}


.SidebarBorder {
    width: 2px;
    background-color: #ddd;
    /* margin-top: 40px; */
    margin-right: 50px;
}

.children {
    margin-top: 60px;
    max-width: 100%;
    flex-grow: 1;
}

.active {
    background-color: #7453EE;
    color: white !important;
}