.mainContainer {
    width: 100%;

}
.Features h3 {
    font-size: 23px;
    font-family:var(--CircularStd);
    margin-bottom: 10px;

}
.Features input{
    width: 615px;
    height: 99px;
    background-color:#F1F1F1;
    font-family: var(--CircularStd);
    font-size: 23px;
    color: #ACACAC;
    border-radius: 10px;
    border: none;
    padding-left: 30px;



}
.Features p{
    font-family: var(--CircularStd);
    font-size: 23px;
    color: #ACACAC;
    margin-bottom: 30px;


}

.FeaturesFlex1 input{
    width: 200px;
    height: 99px;
    background-color:#F1F1F1;
    font-family: var(--CircularStd);
    font-size: 23px;
    color: #ACACAC;
    border: none;
    padding-left: 30px;
    




}
.FeaturesFlex1 h3 {
    font-size: 23px;
    font-family:var(--CircularStd);
    margin-bottom: 10px;


}
.FeaturesFlex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap:10px;
    margin-top:30px;
    margin-bottom: 30px;


}
