.btnDiv {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.btn {
    width: 12.75rem;
    border: none;
    background-color: #06062A;
    border-radius: 5px;
    padding: 1rem 0;
    font-family: var(--CircularStd);
    font-style: normal;
    font-weight: 450;
    font-size: 23px;
    line-height: 29px;
    color: #FFFFFF;
    text-align: center;
}