.button {

    /* margin-top: 40px; */
    /* margin-bottom: 40px; */
    /* display: flex; */
    /* justify-content: center; */
}

.search_button {
    /* margin-top: 70px auto auto 0px; */
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    background-color: #06062A;
    font-size: 23px;
    border: none;
    font-weight: 400;
    font-family: 'Circular std book';
    cursor: pointer;
}