.form Button {
    width: 100%;
    margin-top:3rem
}

.title {
    font-family: var(--CircularStd);
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #111111;

}


.p1 {
    font-family: var(--CircularStdBook);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: rgba(17, 17, 17, 0.5);
    padding: 1rem 0 2rem 0;

}
