.Container {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin-bottom: 1rem;
    transition: ease-in-out 0.3s;
    padding-bottom: 2rem;
}

.Container:hover {
    transform: scale(1.01);
}

.overviewTop {
    padding: 1rem 1rem 0rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
}

.portfolio h1 {
    font-family: var(--CircularStd);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #06062A;
}

.portfolio p {
    font-family: var(--CircularStd);
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 20px;
    color: #9B9B9C;
    padding: 0.5rem 0 1rem 0;

}

.searchBar {
    width: 20rem;
    border: 1px solid #EBE5FF;
    border-radius: 10px;
    display: flex;
    background-color: rgba(240, 240, 240, 0.42);
    padding: 0.5rem;
    align-items: center;
    margin-right: 1rem;

}

.searchBar input {
    background: none;
    margin-left: 10px;
    width: 80%;
    border: none;

}

.searchBar input::placeholder {
    font-family: var(--CircularStd);
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 20px;
    color: #9B9B9C;

}
.searchBar input:focus {
    outline: none;
}

.properties {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    grid-gap: 1rem;
    justify-content: space-between;
    padding: 0 1rem 1rem 1rem;
}