@import url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);
@import url(//db.onlinewebfonts.com/c/961a181da27e7cbc072ec2fb5bbfe2a9?family=Circular+Std+Bold);
@import url(//db.onlinewebfonts.com/c/f1a22f6f15d272c7aa56da8b2c91f5e5?family=Circular+Std+Black);
@import url(//db.onlinewebfonts.com/c/9475d6a0b79c164f9f605673714e75d9?family=Circular+Std+Medium);
@import url(//db.onlinewebfonts.com/c/82e5b6ce5cb6f9942bdd08543ef2c864?family=Circular+Std+Bold+Italic);

.Hero {
    width: 100%;
    position: relative;
}


.Background1 {
    background-repeat: no-repeat;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../assets/bg1.svg);
    background-size: cover;
    height: 39.9rem;
}

.Background2 {
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../assets/bg2.svg);
    height: 39.9rem;
}

.Background3 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../assets/bg3.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 39.9rem;
}

.heroText {
    position: absolute;
    width: 65%;
    margin: auto;
    top: 70px;
    /* left: 130px; */
    padding: 100px 100px 100px 140px;
}

.heroText h4 {
    font-size: 54px;
    font-weight: 700;
    color: #fff;
    font-family: 'Circular Std Book';
    line-height: 68.31px;
}
@media screen and (max-width: 1154px) {
    .heroText{
        width: 70%;
        padding: 100px 100px 100px 60px;
    }
}
@media screen and (max-width: 1040px) {
    .heroText{
        width: 80%;
        padding: 100px 100px 100px 60px;
    }
}
@media screen and (max-width: 910px) {
    .heroText{
        width: 95%;
        padding: 100px 100px 100px 60px;
    }
}
@media screen and (max-width: 840px) {
    .heroText{
        width: 60%;
        padding: 100px 0px 50px 35px;
    }
    .heroText h4 {
        font-size: 30px;
        /* line-height: 22.19px; */
        line-height: 42px;
    }

    /* .Background1, .Background2, .Background3 {
        height: 20rem;
    } */
}
@media screen and (max-width: 590px) {
    .heroText{
        width: 80%;
        padding: 70px 30px 50px 35px;
    }
}
@media screen and (max-width: 475px) {
    .heroText{
        width: 60%;
        padding: 70px 0px 50px 35px;
    }
    .heroText h4 {
        font-size: 18px;
        line-height: 22.19px;
        /* line-height: 42px; */
    }
}
@media screen and (max-width: 375px) {
    .heroText{
        width: 75%;
        padding: 70px 0px 50px 35px;
    }
}