.db_container {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.db_content {
    width: calc(100% - 250px);
    /* width: 100%; */
}

.mainOutlet {
    background-color: #E5E5E5;
    padding: 1rem;
    overflow-y: scroll;
    scrollbar-width: none;
    height: 90vh;

}

.mainOutlet::-webkit-scrollbar {
    display: none;
}
