.db_container {
    width: 100%;
    min-height: 100vh;
    display: flex;
}

.db_content {
    width: calc(100% - 250px);
    /* width: 100%; */
}

.mainOutlet {
    background-color: #E5E5E5;
    padding: 1rem;
    overflow-y: scroll;
    scrollbar-width: none;
    height: 90vh;
    position: relative;

}
.hamburger{
    display: none;
}

.mainOutlet::-webkit-scrollbar {
    display: none;
}
@media screen and (max-width:760px) {
   
    .db_container {
        width: 100%;
        min-height: 100vh;
        display: flex;
        /* align-items:baseline; */
        z-index: 100;
    }
    .db_content {
        width: 100%;
    }
  }
