.post_house {
    width: 80%;
    margin: 5rem auto;


}

.post_house h1 {
    text-align: center;
    font-family: var(--CircularStd);
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
    color: rgba(0, 0, 0, 0.8);
    padding: 1rem 0 2rem 0;
}

.post_house p {
    font-family: var(--CircularStd);
    font-style: normal;
    font-weight: 450;
    font-size: 20px;
    line-height: 25px;
    color: #979797;
    text-align: center;
}

.post_house_flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    margin: 3rem 0;
    /* flex-wrap: wrap; */
    position: relative;
}

.post_house_innerdiv {
    /* width: 30%;
    min-width: 15rem; */
    display: flex;
    flex-direction: column;
    align-items: center;

}

.post_house_innerdiv h3 {
    width: 12rem;
    font-family: var(--CircularStd);
    font-style: normal;
    font-weight: 450;
    font-size: 0.9rem;
    line-height: 1.5rem;
    color: rgba(53, 53, 53, 0.75);
    /* margin: 1rem 3rem; */
    text-align: center;
}

.img_div {
    width: 100px;
    min-width: 43px;
    height: 80px;
    min-height: 37px;
    background: rgba(116, 83, 238, 0.75);
    border-radius: 10px;
    margin-bottom: 2rem;
    /* display: flex; */
    /* justify-content: center; */
}


.img_div img {
    width: 100%;
    height: 100%;
}

.arrow1 {
    width: 2%;
    position: absolute;
    bottom: 65%;
    right: 33%;
}

.arrow1 img {
    width: 100%;
}

.arrow2 {
    width: 2%;
    position: absolute;
    bottom: 65%;
    left: 31%;
}

.arrow2 img {
    width: 100%;
}

.arrow3,
.arrow4 {
    display: none;
}

@media screen and (max-width: 799px) {
    .post_house_innerdiv h3 {
        width: 11rem;
        font-size: 0.8rem;
    }

    .img_div {
        width: 70px;
        min-width: 43px;
        height: 60px;
    }
}

@media screen and (max-width: 738px) {
    .post_house_flex {
        flex-direction: column;
        gap: 5rem;
    }

    .img_div {
        width: 100px;
        height: 80px;
    }

    .post_house_innerdiv h3 {
        width: 13rem;
        font-size: 1rem;
    }

    .arrow1 {
        display: none;
    }

    .arrow2 {
        display: none;
    }

    .arrow3 {
        display: block;
        height: 3%;
        position: absolute;
        top: 30%;
        left: 48%;
    }

    .arrow3 img {
        height: 100%;
    }

    .arrow4 {
        display: block;
        height: 3%;
        position: absolute;
        bottom: 30%;
        left: 48%;
    }

    .arrow4 img {
        height: 100%;
    }
}