.form-group {
    display: flex;
    flex-direction: column;
    /* width:100%; */

}

.form-group:not(:last-child) {
    margin-bottom: 20px
}


.form-label {
    font-family: var(--CircularStd);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #111111;
    padding-bottom: 0.5rem;

}


.form-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background: #FFFFFF;
    border: 1px solid #979797;
    border-radius: 5px;
}

.form-input:focus {
    outline: none;
}

input::placeholder {
    font-family: var(--CircularStd);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: rgba(17, 17, 17, 0.5);
    padding-left:0.5rem;

}