.db_headerContainer{
    width: 100%;
    height: 70px; 
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.db_header{
  width: 22rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notification{
  font-size: 25px;
  color: #06062A;
  margin-right: 35px;

}
.profile{
  width: 40px;
  height: 40px;
}
.profile img{
  width: 100%;
  height: 100%;
}
.userName{
padding-left: 20px;
}
