.verified {
    background-color: #06062A;
    width: 100%;
    padding: 30px 0px
}

.verified_inner {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.web {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img_div {
    background-color: #B5B5FF;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-right: 1rem;
}

.img {
    width: 30px;
    height: 30px;
}

.price {
    font-family: 'Circular std book';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 61px;
    color: #FFFFFF;

}

.details {
    font-family: 'Circular std book';
    font-style: normal;
    font-weight: 450;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 900px) {
    .verified_inner {
        width: 90%;
    }

    .img_div {

        width: 50px;
        height: 50px;
    }

    .img {
        width: 25px;
        height: 25px;
    }

    .price {
        font-size: 30px;
        line-height: 41px;
    }

    .details {

        font-size: 12px;
    }
}

@media screen and (max-width: 570px) {
    .verified_inner {
        width: 95%;
    }

    .price {
        font-size: 14px;
        line-height: 17px;
    }

    .details {
        font-size: 9px;
        line-height: 12px;
    }
}

@media screen and (max-width:450px) {
    .img_div {

        width: 40px;
        height: 40px;
        margin-right: 8px;
    }

    .img {
        width: 20px;
        height: 20px;
    }

    .price {
        font-size: 14px;
        line-height: 15px;
    }

    .details {

        font-size: 9px;
    }
}

@media screen and (max-width: 350px) {
    .img_div {

        width: 30px;
        height: 30px;
        margin-right: 8px;
    }

    .img {
        width: 17px;
        height: 17px;
    }

    .price {
        font-size: 12px;
        line-height: 15px;
    }
}