.background {
    width: 100%;
    padding: 35px 0px;
    background: #EBE5FF;
}

.innerContainer {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    /* padding-top: 35px; */
}

.innerContainer p {
    font-family: var(--CircularStd);
    font-size: 23px;
    color: #2D2D2D;
    cursor: pointer;
}

.innerContainer button {
    /* width: 273px;
    height: 63px; */
    padding: 20px 50px;
    border-radius: 10px;
    background-color: #7453EE;
    font-family: var(--CircularStd);
    font-size: 23px;
    color: white;
}


.innerContainer button:disabled {
    background-color: #C4C4C4;
    color: #2D2D2D;
    cursor: not-allowed;
}
@media screen and (max-width: 768px){
    .innerContainer {
        width: 80%;
    }
    .innerContainer p {
        font-size: 18px;
    }
    .innerContainer button {
        font-size: 18px;
        padding: 15px 40px;
    }
}
@media screen and (max-width: 375px){
    .innerContainer button {
        padding: 10px 20px;
        font-size: 14px;
    }
    .innerContainer p {
        font-size: 16px;
    }
    .innerContainer {
        width: 90%;
    }
}
