.searchitem {
    display: flex;
    flex-basis: 25%;
}

.searchitem p {
    margin-left: 20px;
    font-style: normal;
    font-size: 16px;
    color: #272727;
}

.searchitem_label {
    width: 25px;
    height: 25px;
    background: #FFFFFF;
    border: 3px solid #C1C1C1;
    border-radius: 5px;
    cursor: pointer;
}


.selected {
    position: relative;
    background-color: #7453EE;
    border: #7453EE;
}


.selected span {
    background-image: url("../../assets/selected.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    overflow: auto;
    transform: translate(-50%, -50%);
    height: 20px;
    width: 20px;
}