.modal {
    position: fixed;
    width: 100%;
    z-index: 99999;
    top: 0;
    left: 0;
    bottom: 0;

}

.modal-container {


    width: 700px;
    max-width: 90%;
    margin: 3rem auto;
    height: 400px;
}