.Apartmentlist {
    width: 80%;
    margin: 3rem auto;

}
.h1 {
    text-align: center;
    font-family: var(--CircularStd);
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
    color: rgba(0, 0, 0, 0.8);
    padding: 1rem 0 0.5rem 0;
}


.productGrid {
    width: 100%;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: repeat(auto-fill, 320px); */
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
    margin-top: 20px;
    justify-content: space-between;
}

@media screen and (max-width: 1099px) {
    .productGrid {
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    }
}

@media screen and (max-width: 372px) {
    .productGrid {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

}