.main {
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.04);
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 0 auto;
  width: 80%;
}

.logoContainer {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.image {
  width: 100px;
}

.image img {
  width: 100%;
}


.header a {
  text-decoration: none;
}

.hamburger {
  display: none;
}



@media screen and (max-width: 1024px) {
  .header {
    width: 90%;
  }
}

@media screen and (max-width:760px) {
  .hamburger {
    display: block;
    border: none;
    background-color: #FFFFFF;
    color: #7453EE;
    font-size: 30px;
  }
}