.db_sidebarContainer {
  width: 250px;
  height: auto;
  background: #06062A;

}

.db_sidebar {
  width: 80%;
  margin-left: auto;
}

.db_sidebarLogo {
  margin-left: 25px;
  width: 100px;
  padding-top: 25px;
  margin-bottom: 40px;
}

.db_sidebarLogo img {
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.navItem {
  width: 100%;
  display: flex;
  padding: 11px 25px;
  align-items: center;
  background: #06062A;
  border-radius: 10px 0px 0px 10px;
  margin-bottom: 20px;
  color: #717379;
}

.icon {
  font-size: 25px;
  margin-right: 10px;
}


.navItemTitle {
  font-family: var(--CircularStd);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

.active {
  background: #7453EE;
  color: #FFFFFF;
}

.logout {
  width: 100%;
  display: flex;
  padding: 11px 25px;
  background: #fff;
  border-radius: 10px 0px 0px 10px;
  margin-top: 150px;


}

.logoutColor {
  color: #E04646;
  font-family: var(--CircularStd);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

.logoutIcon {
  font-size: 25px;
  color: #E04646;
  margin-right: 10px;
}

/* .main {
  width: 269px;
  padding: 0;
  position: relative;
  background-color: #06062A;
  height: 100vh;  
}

.nav {
  width: 100%;
  height: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.navRow {
  width: 85%;
  margin: 0 auto;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-decoration: none;
  color: #9e9e9e;
  font-family: var(--gilroy-regular);
  font-size: 16px;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
  letter-spacing: 1px;
}

.icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.navTitle {
  flex: 70%;
}

.sideLogo {
  height: 96px;
  width: 85%;
  margin: auto;
  display: grid;
  place-items: center;
}

.active {
  background: #604aed;
  color: #fff;
  font-family: var(--gilroy-bold);
}

.active .icon img {
  filter: brightness(0) invert(1);
}

.main button {
  position: absolute;
  bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--gilroy-regular);
  padding: 10px;
  color: #ff0000;
  font-size: 16px;
  transform: translate(-50%, 0%);
  left: 50%;
  background: transparent;
  border: none;
  border-radius: 8px;
}

.main button img {
  margin-right: 10px;
}

.main button:hover {
  color: #fff;
  background: #604aed;
  font-family: var(--gilroy-bold);

}

.main button:hover img {
  filter: brightness(0) invert(1);
} */