.db_sidebarContainer {
  width: 250px;
  height: auto;
  background: #06062A;

}

.db_sidebar {
  width: 80%;
  margin-left: auto;
}

.db_sidebarLogo {
  margin-left: 25px;
  width: 100px;
  padding-top: 25px;
  margin-bottom: 40px;
}

.db_sidebarLogo img {
  width: 100%;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.navItem {
  width: 100%;
  display: flex;
  padding: 11px 25px;
  align-items: center;
  background: #06062A;
  border-radius: 10px 0px 0px 10px;
  margin-bottom: 20px;
  color: #717379;
}

.icon {
  font-size: 25px;
  margin-right: 10px;
}


.navItemTitle {
  font-family: var(--CircularStd);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

.active {
  background: #7453EE;
  color: #FFFFFF;
}

.logout {
  width: 100%;
  display: flex;
  padding: 11px 25px;
  background: #fff;
  border-radius: 10px 0px 0px 10px;
  margin-top: 150px;


}

.logoutColor {
  color: #E04646;
  font-family: var(--CircularStd);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

.logoutIcon {
  font-size: 25px;
  color: #E04646;
  margin-right: 10px;
}
@media screen and (max-width:760px) {
  .db_sidebarContainer {
    display: none;
    
  }
}