.advanced {
    background: #FFFFFF;
    border: 1px solid #06062A;
    border-radius: 20px;
    max-width: 100%;

}

.advanced_container {
    padding: 30px;
}

.advanced_container h5 {
    font-size: 16px;
}


.advanced_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.advanced_icon {
    cursor: pointer;
}

.advanced_content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.advanced_content>button {
    align-self: center;
    margin-top: 30px;
}

.advanced_items {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: space-between;
}

@media screen and (max-width: 1024px) {
    .advanced {
        width: 80%;
    }
}

/* @media screen and (max-width: 930px) {
    .advanced {
        width: 90%;
    }
} */