.mainContainer {
    width: 100%;
}
.Price h3 {
    font-size: 23px;
    font-family:var(--CircularStd);
    margin-bottom: 10px;

}
.Price input{
    width: 615px;
    height: 99px;
    background-color:#F1F1F1;
    font-family: var(--CircularStd);
    font-size:18px;
    color: #ACACAC;
    border-radius: 10px;
    border: none;
    padding-left: 30px;
}
.Price p{
    font-family: var(--CircularStd);
    font-size: 23px;
    color: #ACACAC;
    margin-bottom: 30px;
}

.PriceFlex1 input{
    width: 30px;
    height: 30px;
    background-color:#F1F1F1;
    font-family: var(--CircularStd);
    font-size: 23px;
    color: #ACACAC;
    border: none;
    padding-left: 30px;
    border-radius: 100%;
    margin-right: 10px;
}
.PriceFlex1 h3 {
    font-size: 23px;
    font-family:var(--CircularStd);
    /* margin-bottom: 10px; */
}
.PriceFlex1{
    width: 37%;
    height: 99px;
    background-color:#F1F1F1;
    font-family: var(--CircularStd);
    font-size: 23px;
    border: none;
    padding-left: 30px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 30px;
    
}
.PriceFlex{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 30px;
    width: 100%;
}
.h{
    font-size: 23px;
    font-family:var(--CircularStd);
    margin-bottom: 10px;
}
