.search {
    width: 80%;
    margin: auto;
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* .inner_search{
    width: 90%;
} */
.rent {
    border-radius: 15px 15px 0px 0px;
    padding: 15px 30px;
    width: max-content;
    background-color: #06062A;
    color: white;
    text-align: center;
}

.rent p {
    font-family: 'Circular std book';
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.82rem;
}

.detail {
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(6, 6, 42, 0.3);
    border-radius: 0px 15px 15px 15px;
    /* padding: 20px; */
    display: flex;
    /* align-items: center; */
    /* width: 90%; */
    flex-direction: column;

}

.detail>button {
    align-self: center;
    margin: 30px 0;
}

.innerdetail {
    width: 95%;
    margin: auto;
}

.inner_detail {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.input {
    padding: 10px 15px;
    border: none;
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Circular std book';
    font-size: 1.125rem;
    font-weight: 450;
}

.input::placeholder {
    padding-left: 3rem;
}

/* .advanced {
    margin: 55px 0px;
} */


.search_button {
    margin-top: 70px auto auto 0px;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    background-color: #7453EE;
    font-size: 1.44rem;
    border: none;
    font-weight: 400;
    font-family: 'Circular std book';
    cursor: pointer;
}


.button {
    /* width: 100%; */
    margin: 0 auto;
    background-color: transparent;
    border: none;
    border-radius: 0;
    display: flex;
   /* align-item: center; */
    justify-content: center;
    /* align-self: center; */
    cursor: pointer;
}

.button span {
    font-family: 'Circular Std Book';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 23px;
    margin-right: 20px;
    color: rgba(0, 0, 0, 0.5);
}

.button div {
    padding-top: 5px;
}
.dropdown_span:not(:last-child){
    margin: 0 10px;
    border-right: 2px solid #E0DBF1;
    height: 3.75rem;
}
@media screen and (max-width: 1170px) {
    .search {
        width: 90%;
        top: 100%;
    }
}
@media screen and (max-width: 1048px) {
    .search {
        width: 100%;
    }
    .innerdetail {
        width: 100%;
    }
}
@media screen and (max-width: 840px) {
    .search {
        width: 90%;
        /* bottom: 80%;
        left: 50%;    */
    }
    .rent {
        padding: 10px 20px;
        border-radius: 9.66102px 9.66102px 0px 0px;
    }
    .inner_detail {
        width: 95%;
        margin: 0 auto;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .dropdown_span:not(:last-child){
        height: 0rem;
        margin: 20px 0px;
    }
    .dropdown_span{
        border-bottom: 2px solid #E0DBF1;
        width: 95%;
        /* margin: 0 auto; */
        height: 0rem;
    }
    .button {
        padding: 30px 0px 0px 10px;
        width: 90%;
        justify-content: space-between;
       align-items: flex-end;
       margin: 0px auto;
       border-bottom: 2px solid #E0DBF1;
    }
    .button span {
        text-align: left;
        display: flex;
    }
}
@media screen and (max-width: 600px) {
    .button svg {
        margin-right: 7px;
    }
}