.rent{
    border-radius: 15px 15px 0px 0px;
    padding: 15px 0px;
    width: 177px;
    /* height: 63px; */
    background-color: #06062A;
    color: white;
    text-align: center;
}
.rent p{
    font-family: 'Circular std book';
    font-size: 23px;
    font-weight: 700;
    line-height: 29.09px;
}
.detail{
    width: 1071px;
    height: 200px;
    background: #FFFFFF;
box-shadow: 0px 4px 40px rgba(6, 6, 42, 0.3);
border-radius: 0px 15px 15px 15px;
}
.innerdetail{
    width: 90%;
    margin: auto;
}
.inner_detail{
   padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.icons{
    padding-right: 10px;
    width: 27px;
    height: 28px;
}
label{
    font-family: 'Circular std book';
    font-size: 23px;
    font-weight: 500;
    line-height: 29px;
    color:  rgba(9, 9, 9, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
  
    /* transform: rotate(-90deg); */
}
.location{
    border-right: 2px solid #E0DBF1;
    padding-right: 20px;
}
.input{
    padding: 10px 15px;
    border: none;
    /* text-align: left; */
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Circular std book';
    font-size: 18px;
    font-weight: 450;
}
.input::placeholder{
    padding-left: 3rem;
}