.main {
    max-width: 100%;
}

.UploadText h1 {
    font-size: 23px;
    font-family: var(--CircularStd);
    color: #1C1C1CBF;
}

.UploadText p {
    font-family: var(--CircularStd);
    font-size: 18px;
    color: #ACACAC;
    margin-bottom: 30px;
}

.another {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    gap: 40px;
}

.add {
    /* width:611; */
    width: 100%;
    border: 1px dashed #ACACAC;
    margin: auto;
    padding: auto;
}

.add1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 70px auto;
}

.img {
    width: 57px;
    height: 57px;
    padding-left: 10px;
    border: 1px solid #ACACAC;
    border-radius: 100%;
    color: #232323;
    font-weight: bold;
    font-size: 26px;
}

.img h1 {
    padding: 6px;
}

.add1 h3 {
    font-size: 16px;
    font-family: var(--CircularStd);
    color: #323232;
    padding: 10px;
}

.add1 p {
    font-size: 16px;
    font-family: var(--CircularStd);
    color: #ACACAC;
}

@media screen and (max-width: 475px) {
    .UploadText h1 {
        font-size: 18px;
    }

    .UploadText p {
        font-size: 16px;
    }

    .add1 h3 {
        font-size: 14px;
    }

    .add1 p {
        font-size: 14px;
    }
}

@media screen and (max-width: 375px) {
    .UploadText h1 {
        font-size: 16px;
    }

    .UploadText p {
        font-size: 12px;
    }

    .add1 h3 {
        font-size: 12px;
    }

    .add1 p {
        font-size: 12px;
    }
}