@import url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html {
  font-size: 100%;

}

body {
  width: 100%;
  text-decoration: none;

}

@import url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);

@font-face {
  font-family: 'Circular-Std-500';
  src: url(./assets/circular-std-medium-500.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.slick-arrow {
  display: none !important;
}



html {
  scroll-behavior: smooth;
  font-size: 16px;
}

/* 1024


900


  768

  425

  375
*/
:root {
  --CircularStd: Circular-Std-500;
  --CircularStdBook: 'Circular Std Book';
}