* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

}

/* @import url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book); */


@font-face {
  font-family: 'Circular-Std-500';
  src: url(./Assets/circular-std-medium-500.ttf);
}

:root {
  --CircularStd: Circular-Std-500;
}