.CircularProgressbar-path {
    stroke: red;
  }
  .CircularProgressbar-trail {
    stroke: gray;
  }
  .CircularProgressbar-text {
    fill: yellow;
  }
  .CircularProgressbar-background {
    fill: green;
  }
  .progress{
      width: 100px;
      height: 100px;
  }
  .progressContainer{
      background-color: #EBE5FF;
      padding: 20px 0;  
  }
  .innerContainer{
      width: 80%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .innerProgress{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .address{
      padding-left: 30px;
  }
  .address h4{
    font-family: 'Circular Std Book';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    color: #7453EE;
  }
  .address p{
    font-family: 'Circular Std Book';
    font-style: normal;
    font-weight: 450;
    font-size: 23px;
    line-height: 29px;
    color: #828282;
  }