.propertylistDiv {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.propertylist {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.inputs,
.amenities {
    display: flex;
    width: 20%;
    align-items: center;
    border: 1px solid #06062A;
    border-radius: 5px;
    /* justify-content: space-between; */
    padding: 10px 0px 10px 5px;
    /* align-self: stretch; */
}

.inputs,
.amenities {
    width: 20%;
    min-width: 8rem;
}


.inputs img,
.amenities img,
.priceInput img {
    width: 15px !important;
    height: 15px !important;
    /* max-width: 30px !important; */
    /* margin-left: 10px; */
}

.inputs input,
.priceInput input {
    padding-left: 10px;
    width: 80%;
}

.inputs input:focus {
    outline: none;
}

.inputs input::placeholder {
    font-size: 10px;
}

.amenities select {
    appearance: none;
    background-image: url(assets/Vector.png);
    background-repeat: no-repeat;
    background-size: auto 20%;
    padding: 3px 15px;
    font-size: 12px;
    color: #979797;
    background-position: right center;
    width: 85%;
}

.amenities select:focus,
.amenities input:focus,
.priceInput input:focus {
    outline: none;
}

.priceInput {
    display: flex;
    /* width: 12rem; */
    align-items: center;
    border: 1px solid #06062A;
    border-radius: 5px;
    /* justify-content: space-between; */
    padding: 10px 0px 10px 5px;
    /* margin-left: 1rem; */
    width: 20%;
    min-width: 8rem;

}

.priceInput input::placeholder {
    font-size: 10px;
}

@media screen and (max-width: 600px) {
    .propertylistDiv {
        flex-direction: column;
        gap: 1rem;
    }

    .inputs,
    .amenities, .priceInput {
        width: 100%;
        min-width: 8rem;
    }
}