.propertylist {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.inputs, .amenities {
    display: flex;
    align-items: center;
    border: 1px solid #06062A;
    border-radius: 5px;
    justify-content: space-between;
    padding: 10px 10px;
    /* align-self: stretch; */
}
.inputs img, .amenities img {
    width: 30px !important;
    height: 30px !important;
    max-width: 30px !important;
    margin-left: 10px;
}
.inputs input {
    padding: 0px 40px;
}
.inputs input:focus {
    outline: none;
    }
.amenities select{
    appearance: none;
    background-image: url(assets/Vector.png);
    background-repeat: no-repeat;
    background-size: auto 20%;
    padding: 0px 30px;
    font-size: 18px;
    color: #979797;
    background-position: right center;
}
.amenities select:focus, .amenities input:focus {
outline: none;
}
