.navDesktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  position: relative;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;

}

.nav a {
  font-family: var(--CircularStd);
  font-style: normal;
  font-weight: 450;
  font-size: 18px;
  line-height: 23px;
  color: #676769;
}

.nav a:hover {
  color: #7453EE;
}

.navDesktop .bt_border {
  display: none;
}

.buttonFlex {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: flex-end;
}

.loginBtn {
  width: 8rem;
  padding: 8px 20px;
  border: 2px solid #7453EE;
  font-size: 18px;
  font-family: var(--CircularStd);
  color: black;
  border-radius: 15px;

}

.loginBtn1 {
  background-color: #7453EE;
  color: #fff;
  margin-left: 30px;
}

.user_div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.user {
  font-family: var(--CircularStd);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #7453EE;
  margin-right: 20px;
}

.profile_toggle {
  display: flex;
  align-items: center;
}

.profile_div {
  width: 40px;
  height: 40px;
  padding-right: 5px;
}

.profile_div img {
  width: 100%;
  height: 100%;
}

.toggle_div {
  display: grid;
  place-items: center;
  padding-bottom: 5px;
}

.dropdownContainer {
  position: absolute;
  height: 50vh;
  width: 30%;
  right: 0;
  top: 70px;
  background: #06062A;
  z-index: 100;
  transition: all 3s ease-in-out;
}

.dropdown {
  flex-direction: column;
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.dropdown a {
  color: #fff;
  margin: 15px 0;
  font-size: 18px;
  line-height: 19px;
  font-family: var(--CircularStd);
  font-style: normal;
  font-weight: 450;
  line-height: 23px;
}

.dropdown .bt_border {
  border-bottom: 1px solid #fff;
  height: 1px;
  width: 100%;
  opacity: 0.2;
  margin: 0 auto;
}

.dropdown .loginBtn {
  color: #fff;
  border: 1px solid #fff !important;
  margin: 10px 0;
}

.logout {
  display: none;
}

@media screen and (max-width: 910px) {
  .nav {
    width: 58%;

  }

  .buttonFlex {
    width: 42%;
  }
}

@media screen and (max-width: 977px) {
  .loginBtn {
    width: 7rem;
  }

  .loginBtn1 {
    margin-left: 15px;
  }
}

@media screen and (max-width: 795px) {

  .loginBtn1 {
    margin-left: 10px;
  }

  .user {
    font-size: 16px;
    margin-right: 8px;
  }
}

@media screen and (max-width: 760px) {
  .navDesktop {
    display: none;
  }

  .navMobile .nav .logout {
    display: block;
  }

  .navMobile {
    position: absolute;
    height: fit-content;
    width: 100%;
    background: #06062A;
    top: 0;
    right: 0;
    margin: 100px 0;
    z-index: 100;
  }

  .navMobile nav,
  .navMobile .buttonFlex {
    flex-direction: column;
    display: flex;
    width: 80%;
    margin: 0 auto;
  }



  .bt_border {
    border: 1px solid #fff;
    height: 1px;
    width: 100%;
    opacity: 0.2;
    margin: 0 auto;
  }

  .toggle_div {
    display: none !important;
  }

  .navMobile nav a,
  .navMobile .buttonFlex a {
    color: #fff;
    margin: 30px 0;
    font-size: 19px;
    line-height: 19px;
  }

  .navMobile nav,
  .navMobile .buttonFlex {
    align-items: flex-start;
  }

  .navMobile .buttonFlex a button {
    color: #fff;
    border-color: #fff;
  }

  .navMobile .buttonFlex div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 5px auto;

  }

  .navMobile .buttonFlex div .user {
    color: #fff;
    width: 75%;
  }

  .navMobile .buttonFlex div .profile_toggle {
    width: 25%;
  }

  .navMobile .buttonFlex div .toggle_div .icon {
    color: #fff;
  }

  .dropdownContainer {
    position: absolute;
    height: 100px;
    width: 30%;
    left: 0;
    top: 20rem;
    background: #06062A;
    z-index: 999;
    transition: all 3s ease-in-out;
  }

}